
#crud_wrapper {
  width: 100%;
  overflow: hidden; /* add this to contain floated children */
}

#transaction_area {
  width: 20%;
  float: left;
}

#pages_area {
  width: 20%;
  float: left;
}

#actions_area {
  width: 20%;
  float: left;
}

#journeys_area {
  width: 20%;
  float: left;
}

#actions_to_show_area {
  width: 20%;
  float: left;
}

#table_area {
  width: 0%;
  float: left;
  visibility: hidden;
  border-width: thin;
  overflow-y: auto;
}

#map_area {
}

#footer {
  margin-left: 0px;
}

#symbol_table {
  margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
}
